.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.common_nav {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
}
.menu_close {
  display: none;
}
.menu_open {
  position: absolute;
  opacity: 0.7;
  background: black;
  width: 100%;
  height: 100%;
}
.expandMenu {
  transition: left 600ms ease-out;
  position: absolute;
  background: black;
  height: 100%;
  z-index: 1;
  width: 200px;
  left: 0;  
}
svg {
  fill: white;
  width: 15px;
}
.hamburger.button, .search {
  width:4%;
  padding: 5px 0px 0px 0px;
  background-color: black;

}
ul {
  list-style: none;
  padding: 0px 5px 0px 4px;
}
li {
  padding: 0px 0px 4px 0px;
}
ul button {
  position: fixed; 
  bottom: 0; 
}
li#logon{
  bottom: 0;
  position: fixed;
  width: 51%;
}
li#logon button{
  border-bottom: 0px solid #f2f2f2;
  color: #6dff4a;
}
li button:hover {
  background: #252424;
}
li button {
  border-radius: 0px;
  display: block;
  text-align: left;
  width: 98%;
  border-bottom: 1px solid #f2f2f2;
  background: black;
  position: relative;
  z-index: 1;
  font-size: 17px;
  font-weight: 500;
  color: white;
  height: 50px;
  font-family: emoji;
}
.foldMenu {
  position: fixed;
  left: -100%;
}
a.logo {
  align-self: center;
  color:white
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background: black;
}
.mainContainer {
  width: 90%;
  margin: auto
}
.question-data {
  padding: 7px;
  text-align: initial;
  margin-top: 20px;
  font-style: italic;
  background-color: #6dff4a;
}
.question-output button {
  margin: 5px;
  border: 1px solid;
}
.question-input button{
  border-bottom:dotted
}
.question-input {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 3px;
}
.question-output {
  border: 1px solid;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
button {
  font-size: 15px;
  height: 35px;
  transition: color 2s;
  background: #242323;
  outline: 0px;
  margin: 2px;
  color: #f3f3f3;
  border: none;
}
button:hover {
  background: gray;
}
.bottom {
  display: grid;
}
#newsLi_0 {
  font-weight:bold;
}

.BBC-List li {
  list-style: none;
}
.BBC-List {
  text-align: left;
}
.BBC-List li:nth-child(1){
  font-weight: bold;
}
.BBC-List li:nth-child(2){
  font-variant-caps: petite-caps;
}
.BBC-List li:nth-child(3){
  font-weight: bold;
}
.BBC-List li:nth-child(4){
  font-variant-caps: petite-caps;
}
.BBC-List li:nth-child(5){
  font-weight: bold;
}
.BBC-List li:nth-child(6){
  font-variant-caps: petite-caps;
}
.answer-data {
  text-align: left;
  margin-top: 15px;
  background: #111111;
  padding: 5px;
}
.answer-input {
  padding-bottom: 15px;
}
.answer-button {
  display: flex;
}
.answer-button button {
  width:50%
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:black;
  color:white;
  border-color: black;
  font-size: 17px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  background: #80808030;
}  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
